header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    width: 100%;
}

.campo-usuario{
    padding: 10px;
    display: flex;
    align-items: center;
}

.nome-usuario{
    margin: 0px;
}

.navbar{
    background-color: cadetblue !important;
}